%h1 room #{@room.id}

- if current_user.hand
  %ul
    - current_user.hand.tiles.each do |tile|
      %li= tile.kind

- if Action::Start.able?(user: current_user, room: @room)
  = button_to 'Start', start_room_actions_path(@room)

- if Action::Draw.able?(user: current_user, room: @room)
  = button_to 'Draw', draw_room_actions_path(@room)
