%h1 room #{@room.id}

%ul
  - if current_user.hand
    - current_user.hand.tiles.each do |tile|
      %li= tile.kind

- if Action::Start.able?(user: current_user, room: @room)
  = button_to 'Start', start_room_actions_path(@room)
