@font-face
  font-family: TegakiJan
  src: tj-font-path('tegaki-jan.woff') format('woff'), tj-font-path('tegaki-jan.ttf') format('truetype')

$tj-var-ton:   '\1F000'
$tj-var-nan:   '\1F001'
$tj-var-sha:   '\1F002'
$tj-var-pei:   '\1F003'
$tj-var-chun:  '\1F004'
$tj-var-hatsu: '\1F005'
$tj-var-haku:  '\1F006'
$tj-var-wan_1: '\1F007'
$tj-var-wan_2: '\1F008'
$tj-var-wan_3: '\1F009'
$tj-var-wan_4: '\1F00A'
$tj-var-wan_5: '\1F00B'
$tj-var-wan_6: '\1F00C'
$tj-var-wan_7: '\1F00D'
$tj-var-wan_8: '\1F00E'
$tj-var-wan_9: '\1F00F'
$tj-var-sou_1: '\1F010'
$tj-var-sou_2: '\1F011'
$tj-var-sou_3: '\1F012'
$tj-var-sou_4: '\1F013'
$tj-var-sou_5: '\1F014'
$tj-var-sou_6: '\1F015'
$tj-var-sou_7: '\1F016'
$tj-var-sou_8: '\1F017'
$tj-var-sou_9: '\1F018'
$tj-var-wan_1: '\1F019'
$tj-var-wan_2: '\1F01A'
$tj-var-wan_3: '\1F01B'
$tj-var-wan_4: '\1F01C'
$tj-var-wan_5: '\1F01D'
$tj-var-wan_6: '\1F01E'
$tj-var-wan_7: '\1F01F'
$tj-var-wan_8: '\1F020'
$tj-var-wan_9: '\1F021'
