!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Janjan
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    - if Rails.configuration.x.gtm_id
      = render partial: 'gtm', object: Rails.configuration.x.gtm_id
  %body
    %base{href: '/'}
    %my-app Loading...
    = javascript_include_tag 'application'
